* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

#main-content-display-wrapper {
	position: absolute;
	left: 240px;
	width: calc(100% - 240px);
	height: 100%;
	overflow: auto;
}

@media (max-width: 812px) {
	div #main-content-display-wrapper {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
	}
}


